{% extends "base.html" %}

{% block main_content %}

<h1> Explore Courses </h1>

{% for course in courses %}
    <div class = "course">
    <button class = "accordion"> {{course.cnum}}: {{course.title}} </button>
        <div class = "panel">
        
        {% set rating = course.ratings %}
        {% if not rating.relev and not rating.useful and not rating.diff and not rating.expect and not rating.hoursWk %}
            <p> No ratings available for this course.</p>
        
            {% else %}
            <table>
                <tr>
                    <td>Relevancy</td>
                    <td>{{rating.relev if rating.relev != none else "No Rating"}}</td>
                </tr>
                <tr>
                    <td>Usefulness</td>
                    <td>{{rating.useful if rating.useful != none else "No Rating"}}</td>
                </tr>
                <tr>
                    <td>Difficulty</td>
                    <td>{{rating.diff if rating.diff != none else "No Rating"}}</td>
                </tr>
                <tr>
                    <td>Expectations</td>
                    <td>{{rating.expect if rating.expect!= none else "No Rating"}}</td>
                </tr>
                <tr>
                    <td>Amount of Work</td>
                    <td>{{rating.hoursWk if rating.hoursWk != none else "No Rating" }}</td>
                </tr>
            </table>
        {% endif %}

        {% for section in course.sections %}
            <ul> 
                <li> <a href="{{ url_for('showCourse', cid = section.cid)}}">{{section.sem}} {{section.yr}}, {{section.prof}} </a></li>
            </ul>
        {% endfor %}
        </div>
    </div>
    {% endfor %}

    <!-- Javascript modified from W3schools Accordion Code
    https://www.w3schools.com/howto/howto_js_accordion.asp -->
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++){
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display == "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}