{% extends "base.html" %}

{% block head_stuff%}
<title>Welcome, log in!</title>
{% endblock %}

{% block main_content %}
            
{% if username %}
   <form method="GET" action="{{url_for('cas.logout')}}"><button>logout {{username}}</button></form>
   <form method="GET" action="{{url_for('profile')}}"></form>

{% else %}
   <p>Login using your Wellesley account.</p>
   <form method="GET" action="{{url_for('cas.login')}}"><button class="button1">login</button></form>
{% endif %}   

{% endblock %}
