{% extends "base.html" %}

{% block main_content %}

<title>{{student.name}}</title>
<img src="{{url_for('getPic', bNum = student.bNum)}}" alt="Profile picture for {{student.name}}" style="height:300px;">

{% if student.bNum == cas_attributes.get("cas:id") %}
    <br><a href= "{{url_for('uploadPic')}}">Update profile picture</a>
   <form method="GET" action="{{url_for('cas.logout')}}"><button>logout {{student.name}}</button></form>
   <form method="GET" action="{{url_for('login')}}"></form>
{% endif %}   

<table id="info">
    <tr>
        <td>Email: {{student.email}}</td>
    </tr>
    <tr>
        <td>Major: {{student.major}}</td>
    </tr>
</table>

<table id="student-comments">
        <tr>
            <th>Comments {{student.name}} has made:</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td> <a href="{{url_for('showCourse', cid = comment.cid)}}">{{comment.title}}</a>
            <td>{{comment.comment}}</td>
        </tr>
    {% endfor %}
</table>

<table id="favorites">
        <tr>
            <th>{{student.name}}'s favorite courses:</th>
        </tr>
        {% for favorite in favorites %}
        <tr>
            <td> <a href="{{url_for('showCourse', cid = favorite.cid)}}">{{favorite.title}}</a></td>
        </tr>
        {% endfor %}
</table> 

{% if student.bNum == cas_attributes.get("cas:id") %}
    <form method=POST action="">
    <label for="major"><p>Update your major</p></label>
              <p><textarea id="major"
                          name="major"
                          rows="1" cols="40"></textarea></p>
      <input type="submit" name="major" value="Update">
    </form>

{% endif %}

{% endblock %}
