{% extends "base.html" %}

{% block head_stuff%}
<title>Course Page</title>
{% endblock %}

{% block main_content %}

  <p>Missing or outdated information? <a href="/courses/{{cid}}/update">Update this course</a></p>
    <h3>"{{title}}"</h3>
    <h3>"{{cnum}}"</h3>
    <table id="basics" style="width:100%">
        <tr>
          <th>Logistics</th>
          <th></th>
        </tr>
        <tr>
            <td>Department</td>
            <td>{{dep}}</td>
        </tr>
        <tr>
            <td>Professor</td>
            <td>{{prof}}</td>
        </tr>
        <tr>
          <td>Year</td>
          <td>{{yr}}</td>
        </tr>
        <tr>
          <td>Semester</td>
          <td>{{sem}}</td>
        </tr>
        <tr>
          <td>CRN</td>
          <td>{{crn}}</td>
        </tr>
      </table>
      <table id="ratings" style="width:100%">
        <tr>
          <th>Ratings</th>
          <th></th>
        </tr>
        <tr>
            <td>Usefulness for major</td>
            <td>{{usefulRate}}</td>
        </tr>
        <tr>
            <td>Difficulty</td>
            <td>{{diffRate}}</td>
        </tr>
        <tr>
          <td>Relevance of course assignments</td>
          <td>{{relevRate}}</td>
        </tr>
        <tr>
          <td>Expectations were clearly defined</td>
          <td>{{expectRate}}</td>
        </tr>
        <tr>
          <td>Hours per week spent on coursework</td>
          <td>{{hoursWk}}</td>
        </tr>
	  </table>
		<a href={{syl}}><h4>Syllabus PDF</h4></a>
    	
    	<h4>Course Website</h4>
    	 <iframe src={{web}} width="80%" height="400px">
    	</iframe>
    	
      <p>How did other students find this course?</p>
      
      <table id="comments" style="width:100%">
      {% for comment in comments %}
          <tr>
            <td>"{{comment.username}}"</td>
            <td>"{{comment.comment}}"</td>
        </tr>
    	{% endfor %}
    </table> 

<h3>How would you rate this course?</h3>

<form action="rate" method="POST">
	<p> On a scale from 1-5, 1 being useless and 5 being most useful, how useful do you find {{cnum}} is for the {{dep}} major?</p>
  <input type="radio" id="usefulRate" name="1" value="1">
  <label for="1">1</label>
  <input type="radio" id="usefulRate" name="2" value="2">
  <label for="2">2</label>
  <input type="radio" id="usefulRate" name="3" value="3">
  <label for="1">3</label>
  <input type="radio" id="usefulRate" name="4" value="4">
  <label for="2">4</label>
  <input type="radio" id="usefulRate" name="5" value="5">
  <label for="2">5</label><br>
<p> On a scale from 1-5, 1 being very easy and 5 being very challenging, how difficult did you find the material for {{cnum}}?</p> 
<input type="radio" id="diffRate" name="1" value="1">
  <label for="1">1</label>
  <input type="radio" id="diffRate" name="2" value="2">
  <label for="2">2</label>
  <input type="radio" id="diffRate" name="3" value="3">
  <label for="1">3</label>
  <input type="radio" id="diffRate" name="4" value="4">
  <label for="2">4</label>
  <input type="radio" id="diffRate" name="5" value="5">
  <label for="2">5</label><br>
 <p> On a scale from 1-5, 1 being irrelevant and 5 being most relevant, how relevant did you find the course assignments for {{cnum}}?</p> 
<input type="radio" id="relevRate" name="1" value="1">
  <label for="1">1</label>
  <input type="radio" id="relevRate" name="2" value="2">
  <label for="2">2</label>
  <input type="radio" id="relevRate" name="3" value="3">
  <label for="1">3</label>
  <input type="radio" id="relevRate" name="4" value="4">
  <label for="2">4</label>
  <input type="radio" id="relevRate" name="5" value="5">
  <label for="2">5</label><br>
   <p> On a scale from 1-5, 1 being extremely vague and 5 being crystal clear, how clear did you find Professor  {{prof}}'s expectations of students for {{cnum}}?</p> 
<input type="radio" id="expectRate" name="1" value="1">
  <label for="1">1</label>
  <input type="radio" id="expectRate" name="2" value="2">
  <label for="2">2</label>
  <input type="radio" id="expectRate" name="3" value="3">
  <label for="1">3</label>
  <input type="radio" id="expectRate" name="4" value="4">
  <label for="2">4</label>
  <input type="radio" id="expectRate" name="5" value="5">
  <label for="2">5</label><br>
       <p> On a scale from 1-5, 1 being hardly requiring any time at all and 5 being your most time consuming course ever, how demanding of your time did you find {{cnum}}?</p> 
<input type="radio" id="hoursWk" name="1" value="1">
  <label for="1">1</label>
  <input type="radio" id="hoursWk" name="2" value="2">
  <label for="2">2</label>
  <input type="radio" id="hoursWk" name="3" value="3">
  <label for="1">3</label>
  <input type="radio" id="hoursWk" name="4" value="4">
  <label for="2">4</label>
  <input type="radio" id="hoursWk" name="5" value="5">
  <label for="2">5</label><br>
 <p> On average, how many hours per week did you spend on assignments, class preparation, and study for {{title}}?</p> 
<input type="radio" id="hoursWk" name="1" value="1">
  <label for="1">1</label>
  <input type="radio" id="hoursWk" name="2" value="2">
  <label for="2">2</label>
  <input type="radio" id="hoursWk" name="3" value="3">
  <label for="1">3</label>
  <input type="radio" id="hoursWk" name="4" value="4">
  <label for="2">4</label>
  <input type="radio" id="hoursWk" name="5" value="5">
  <label for="2">5</label><br><br>
  

<label for="new_comment">Is there anything you'd like to share about {{cnum}}, {{title}}?</label>
        <p><textarea id="new_comment"
                     name="new_comment"
                     rows="6" cols="70"></textarea></p>
<input type="submit" value="Submit">
</form>


 
{% endblock %}