{% extends "base.html" %}

{% block main_content %}
<h1>Syllabo</h1>

<h2>Welcome to Syllabo!</h2>

<p>Syllabo is a database of Wellesley courses that allows users to 
    upload and access syllabi and rate courses. The web interface also
    enables Wellesley students to discuss courses and communicate with one another.</p>

<h2>Recommended Courses</h2>
    <ol>
        {% for course in courses %}
        <li>
            <a href="{{ url_for('showCourse', cid=course.cid) }}"> {{course.title}} </a>
        </li>
        {% endfor %}
    </ol>
{% endblock %}
